#footer1-2 P {
  text-align: center;
  color: #ffffff;
}
#footer1-2 B {
  color: #b8312f;
}
#header4-6 H1 {
  color: #ffffff;
}
#features1-7 P {
  text-align: center;
}
#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-9 .mbr-navbar__section {
  background: #27aae0;
}
#footer1-2 P {
  text-align: center;
  color: #ffffff;
}
#footer1-2 B {
  color: #b8312f;
}
#footer1-2 P {
  text-align: center;
  color: #ffffff;
}
#footer1-2 B {
  color: #b8312f;
}
#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-9 .mbr-navbar__section {
  background: #27aae0;
}
#form1-15 .mbr-header__text {
  font-size: 25px;
  color: #252525;
}
